.add-comment {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  animation: pop 0.3s ease-in forwards;

  & img {
    max-width: 35px;
  }
  & div {
    width: 100%;
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(105%);
  }
  100% {
    transform: scale(100%);
  }
}

@media (max-width: 768px) {
  .add-comment {
    display: grid;
    grid-template-areas:
      "text text"
      "img button";

    & img {
      grid-area: img;
    }
    & div {
      grid-area: text;
    }
    & button {
      grid-area: button;
      justify-self: end;
      padding: 0.9rem;
      min-width: 120px;
    }
  }
}
